<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brytyjskie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Wirtualna książka kucharska</h1>
    <p class="lead">Witaj Szanowna Użytkowniczko! Witaj Szanowny Użytkowniku! Zapraszamy do zapoznania się ze
        stroną! </p>
    <hr class="my-4">
    <p>Strona pełna wspaniałego smaku</p>
    <a class="btn btn-primary btn-lg" href="http://localhost:8080/" role="button">Strona Główna</a>
    <a class="btn btn-primary btn-lg" href="/cookbook/all" role="button">Zobacz wszystkie przepisy</a>
    <a class="btn btn-primary btn-lg" href="/cookbook/add" role="button">Dodaj swój przepis</a>
    <a class="btn btn-primary btn-lg" href="/cookbook/basic-update" role="button">Edytuj przepis</a>
    <a class="btn btn-primary btn-lg" href="/cookbook/basic-delete" role="button">Usuń przepis</a>
    <a class="btn btn-primary btn-lg" href="/cookbook/category" role="button">Kategorie przepisów</a>
    <a class="btn btn-primary btn-lg" href="/cookbook/basic-show" role="button">Wyświetl przepis</a>
</div>
<div style="text-align: center;">
    <p class="lead">Lista brytyjskich przepisów </p>
</div>
<p class="text-center">„Kuchnia brytyjska powszechnie nie kojarzy się raczej z niczym wyrafinowanym. Przeciętny człowiek
    potrafi wymienić co najmniej kilka dań kuchni włoskiej czy hiszpańskiej, ale brytyjskiej? Jedyne, co od razu
    przychodzi do głowy, to Fish&Chips i ewentualnie fasolka. Warto jednak wiedzieć, że w UK także gotuje się smacznie i
    wcale nie tak mdło, jak głosi stereotyp. Brytyjska kuchnia ma do zaoferowania wiele świetnych produktów, które
    spokojnie znalazłyby dla siebie miejsce w innych krajach.” cytat za easysend <a
            href="https://www.easysend.pl/blog/kuchnia-brytyjska/"> Link </a></p>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nr przepisu</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Trudność</th>
        <th scope="col">Czas</th>
        <th scope="col"></th>
        <th scope="col">Składniki</th>
        <th scope="col">Przygotowanie</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe :${british}">
        <td th:text="${recipe.getId()}">Mark</td>
        <td th:text="${recipe.getDishName()}">Mark</td>
        <td th:text="${recipe.getFoodCategory()}">Mark</td>
        <td th:text="${recipe.getDifficultyLevel()}">Mark</td>
        <td th:text="${recipe.getTime()}">Mark</td>
        <td th:text="${recipe.getIngredientsList()}">Mark</td>
        <th scope="row">min</th>
    </tr>
    </tbody>
</table>
</body>
</html>