<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie składników</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/ingredient-add}" th:object="${ingredientForm}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> Title</th>
                <th> Author</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ingredient, itemStat : *{ingredients}">
                <td><input th:field="*{ingredients[__${itemStat.index}__].name}" /></td>
                <td><input th:field="*{ingredients[__${itemStat.index}__].amount}" /></td>
                <td><input th:field="*{ingredients[__${itemStat.index}__].unitName}" /></td>
                <td><input th:field="*{ingredients[__${itemStat.index}__].recipe}" /></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>