<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usunięto pomyślnie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Wirtualna książka kucharska</h1>
    <p class="lead">Udało się usunąć przepis!"</p>
    <hr class="my-4">
    <p>Strona pełna wspaniałego smaku</p>
    <a class="btn btn-primary btn-lg" href="index.html" role="button">Strona Główna</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Zobacz wszystkie przepisy</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Dodaj swój przepis</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Edytuj przepis</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Usuń przepis</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Kategorie przepisów</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Wyświetl przepis</a>
</div>
</body>
</html>